
<div>
  <h1 class="title">Update Photo</h1>
    <table class="table">
      <tr>
          <th class="span2">Date</th>
          <th class="span4">Title</th>
          <th class="span4">URL</th>
          <th class="span1">Edit</th>
          <th class="span1">Delete</th>
      </tr>
      <tr ng-repeat="t in photos">
        <td ng-class="{span2: editing, hide: editing}">{{t.date}}</td>
        <td ng-class="{span2: !editing, hide: !editing}"><input ng-model="t.date" type="date" class="input-small" ng-value="t.date"/></td>
        <td ng-class="{span4: editing, hide: editing}">{{t.title}}</td>
        <td ng-class="{span4: !editing, hide: !editing}"><input ng-model="t.title" type="text" class="input-xlarge" ng-value="t.title"/></td>
        <td ng-class="{span4: editing, hide: editing}">{{t.URL}}</td>
        <td ng-class="{span4: !editing, hide: !editing}"><input ng-model="t.URL" type="text" class="input-xlarge" rows="3" ng-value="t.URL"></td>         
        <td class="span1" ng-click="editing=!editing" ng-init="editing=false"><span ng-class="{hide:!editing}"><span class="glyphicon glyphicon-save"></span></span><span ng-class="{hide:editing}"><span class="glyphicon glyphicon-pencil"/></span></td>
        <td ng-class="span1" ng-dblclick="photos.splice(photos.indexOf(t),1);"><span class="glyphicon glyphicon-remove"/></td>
      </tr>
      <tr>
        <td ng-class="{span2: !editing, hide: !editing}"><input ng-model="d" type="date" class="input-small" ng-value="d"/></td>
        <td ng-class="{span4: !editing, hide: !editing}"><input ng-model="t" type="text" class="input-xlarge" ng-value="t"/></td>
        <td ng-class="{span4: !editing, hide: !editing}"><input ng-model="u" type="text" class="input-xlarge" ng-value="u"/></td>         
        <td class="span2" ng-click="editing=!editing" ng-init="editing=false"><span ng-click="photos.push({date:d,title:t,URL:u})" ng-class="{hide:!editing}"><span class="glyphicon glyphicon-save"></span></span><span ng-class="{hide:editing}"><span class="glyphicon glyphicon-plus"/></span></td>
      </tr>
    </table>
</div>
