{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="current_content col">
        <h1>Admin Control Panel</h1>
          <p>Goto:</p>
          <ul>
              <li><a href="./admin/fixture">Update Fixture</a></li>
              <li><a href="./admin/news">Update News</a></li>
              <li><a href="./admin/score">Add Score</a></li>
              <li><a href="./admin/player">Update Player profile</a></li>
              <li><a href="./admin/photo">Upload Photo</a></li>
          </ul>
    </div>
    <div class="related_content col">Related content</div>
    <div class="related_content col">Related content</div>
</div>
{% endblock content %}



